In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# part-2 task-1
table = pd.read_csv('2017_jun_final.csv')

# part-2 task-2
table.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [5]:
# part-2 task-3

rows, columns = table.shape

print("Кількість рядків:", rows)
print("Кількість стовпців:", columns)

Кількість рядків: 8704
Кількість стовпців: 25

In [6]:
# part-2 task-4

# Визначення типів стовпців за допомогою атрибуту dtypes
column_types = table.dtypes

# Виведення результатів
print("Типи стовпців:")
print(column_types)

Типи стовпців:
N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [7]:
# part-1 task-5
missing_values = table.isnull().sum()

# # частку пропусків у кожній колонці
missing_percentage = missing_values/table.shape[0]

# результfn
result_df = pd.DataFrame({
    'Кількість пропусків': missing_values,
    'Частка пропусків (%)': missing_percentage
})
print(result_df)

                                  Кількість пропусків  Частка пропусків (%)
N                                                   0              0.000000
Должность                                           0              0.000000
Язык.программирования                            3850              0.442325
Специализация                                    7219              0.829389
Общий.опыт.работы                                   0              0.000000
Опыт.работы.на.текущем.месте                        0              0.000000
Зарплата.в.месяц                                    0              0.000000
Изменение.зарплаты.за.12.месяцев                    0              0.000000
Город                                               0              0.000000
Размер.компании                                     0              0.000000
Тип.компании                                        0              0.000000
Пол                                                 0              0.000000
Возраст                                             0              0.000000
Образование                                         0              0.000000
Университет                                       358              0.041131
Еще.студент                                         0              0.000000
Уровень.английского                                 0              0.000000
Предметная.область                                223              0.025620
Дата.заполнения                                     0              0.000000
User.Agent                                          0              0.000000
exp                                                 0              0.000000
current_job_exp                                     0              0.000000
salary                                              0              0.000000
Валюта                                           8694              0.998851
cls                                              1574              0.180836

In [8]:
# part-1 task-6
table_v2 = table.drop(labels=["Специализация", "Университет", "Предметная.область", "Валюта", "cls"], axis=1)

In [9]:
# part-1 task-7
missing_values = table_v2.isnull().sum()

# # частку пропусків у кожній колонці
missing_percentage = missing_values/table_v2.shape[0]

# результfn
result_df = pd.DataFrame({
    'Кількість пропусків': missing_values,
    'Частка пропусків (%)': missing_percentage
})
print(result_df)

                                  Кількість пропусків  Частка пропусків (%)
N                                                   0              0.000000
Должность                                           0              0.000000
Язык.программирования                            3850              0.442325
Общий.опыт.работы                                   0              0.000000
Опыт.работы.на.текущем.месте                        0              0.000000
Зарплата.в.месяц                                    0              0.000000
Изменение.зарплаты.за.12.месяцев                    0              0.000000
Город                                               0              0.000000
Размер.компании                                     0              0.000000
Тип.компании                                        0              0.000000
Пол                                                 0              0.000000
Возраст                                             0              0.000000
Образование                                         0              0.000000
Еще.студент                                         0              0.000000
Уровень.английского                                 0              0.000000
Дата.заполнения                                     0              0.000000
User.Agent                                          0              0.000000
exp                                                 0              0.000000
current_job_exp                                     0              0.000000
salary                                              0              0.000000

In [10]:
# part-1 task-8
table_v3 = table_v2.dropna()
table_v3

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
2,3,Software Engineer,C#/.NET,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500
3,4,Software Engineer,JavaScript,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,False,ниже среднего,12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000
4,5,Senior Software Engineer,JavaScript,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,False,средний,12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500
6,7,Junior Software Engineer,C#/.NET,1,меньше 3 месяцев,600,100,Хмельницкий,до 50 человек,Аутсорсинговая,мужской,23,Высшее,False,ниже среднего,12/06/2017 13:04:26,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.0,0.0,600
7,8,Senior Software Engineer,C++,6,1,3300,500,Киев,до 10 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/06/2017 13:04:27,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,6.0,1.0,3300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,8693,Software Engineer,Java,5,1,3500,650,Удаленно,до 200 человек,Аутсорсинговая,женский,28,Высшее,False,средний,12/07/2017 13:26:49,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,3500
8694,8695,Junior Software Engineer,C#/.NET,1,1,550,550,Харьков,до 200 человек,Аутсорсинговая,мужской,23,Высшее,False,ниже среднего,12/07/2017 14:14:33,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...,1.0,1.0,550
8695,8696,Software Engineer,Python,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500
8701,8702,Junior Software Engineer,Ruby/Rails,1,0.5,800,500,Львов,до 10 человек,Аутстаффинговая,мужской,30,Незаконченное высшее,False,выше среднего,12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800
8703,8704,Senior Software Engineer,Java,7,2,5000,800,Одесса,до 1000 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000

In [11]:
# part-2 task-9

rows, columns = table_v3.shape

print("Кількість рядків:", rows)
print("Кількість стовпців:", columns)

Кількість рядків: 4854
Кількість стовпців: 20

In [12]:
# part-2 task-10
python_data = table_v3[table_v3['Язык.программирования'] == 'Python']
python_data

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600
114,115,Junior Software Engineer,Python,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685
143,144,Junior Software Engineer,Python,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,Python,5,1,2000,800,Запорожье,до 50 человек,Аутсорсинговая,мужской,22,Незаконченное высшее,False,средний,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000
8625,8626,Software Engineer,Python,4,1,1750,0,Киев,свыше 1000 человек,Аутсорсинговая,мужской,28,Среднее,False,средний,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750
8635,8636,Senior Software Engineer,Python,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,Стартап,мужской,33,Высшее,False,выше среднего,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000
8673,8674,Junior Software Engineer,Python,0.5,0.5,350,50,Киев,до 50 человек,Аутсорсинговая,мужской,22,Высшее,False,средний,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350
8695,8696,Software Engineer,Python,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500

In [13]:
# part-2 task-11

rows, columns = python_data.shape

print("Кількість рядків:", rows)
print("Кількість стовпців:", columns)

Кількість рядків: 207
Кількість стовпців: 20

In [16]:
# part-2 task-12

grouped_table = python_data.groupby('Должность')
print(grouped_table.size())
print(grouped_table)

Должность
Junior Software Engineer     63
Senior Software Engineer     31
Software Engineer           100
System Architect              2
Technical Lead               11
dtype: int64
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000192968EC050>

In [19]:
# part-2 task-13

aggregated_data = grouped_table.agg({'Зарплата.в.месяц': ['min', 'max']})

# Перейменування стовпців для зручності
aggregated_data.columns = ['Мінімальна зарплата', 'Максимальна зарплата']

print(aggregated_data)

                          Мінімальна зарплата  Максимальна зарплата
Должность
Junior Software Engineer                  100                  1250
Senior Software Engineer                 1300                  9200
Software Engineer                         500                  5400
System Architect                         3000                  5000
Technical Lead                           1425                  6200

In [20]:
# part-2 task-14

# Приклад функції fill_avg_salary
def fill_avg_salary(row):
    return row.mean()

update_table = aggregated_data.apply(fill_avg_salary, axis=1, result_type='expand')
update_table.name = "Середня зарплата"
final_update_table = pd.concat([aggregated_data, update_table], axis=1)
final_update_table

,Мінімальна зарплата,Максимальна зарплата,Середня зарплата
Должность,,,
Junior Software Engineer,100,1250,675.0
Senior Software Engineer,1300,9200,5250.0
Software Engineer,500,5400,2950.0
System Architect,3000,5000,4000.0
Technical Lead,1425,6200,3812.5

In [21]:
# part-2 task-15

final_update_table['Середня зарплата'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: Середня зарплата, dtype: float64

In [22]:
# part-2 task-16

final_update_table.to_csv("2017_jun_final_clean_and_updated.csv")